$background-color: #343434;
$font-color: #dfdfdf;
$font-color_T: rgba(223,223,223,0.4);
$accent-color: #08c1fe;
$alert-color: #CC0035;
$headline-size: 1.5em;
$banner-height: 70px;
$corner-radius: 3px;
$border-radius: 3px;

$track-path: "../images/Events";
$track1: 'Oschersleben';
$track2: 'Hockenheim';
$track3: 'Spielberg';
$track4: 'Lausitzring';
$track5: 'Norisring';
$track6: 'Zandvoort';
$track7: 'Nuerburgring';
$track8: 'Hockenheim';
$track9: '';



