.blue{
	background-color: #0000FF;
}
.green{
	background-color: #00FF00;
}
.red{
	background-color: #FF0000;
}
.yellow{
	background-color: #FFFF00;
}
.teal{
	background-color: #00FFFF;
}
.fuchsia{
	background-color: #ff00ff;
}
.orange{
	background-color: #ff6600;
}
.grey{
	background-color: #555;
}
