#table1 {
  width: 100%; }

#table2 {
  height: 140px;
  width: 91.2%;
  background-color: rgba(255, 255, 255, 0.05); }

#table1, #table2 {
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.headerRow {
  background-color: #dfdfdf;
  height: 23px; }

.tableHeader {
  color: #343434;
  padding-left: 4px;
  padding-right: 3px;
  vertical-align: text-top;
  float: left;
  background-color: #dfdfdf;
  text-align: center; }

.sortAsc, .sortDesc {
  padding-right: 0px; }

.tableHeader.sortable:after {
  display: inline-block;
  width: 8px;
  height: 16px;
  margin: 0px 0px -3px 1px;
  content: " ";
  background: url("../images/SortArrow_Inactive.png") no-repeat 0 0;
  background-size: contain; }

.tableHeader.sortable.sortAsc:after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 1px;
  content: " ";
  background: url("../images/SortArrow_Up.png") no-repeat 0 0;
  background-size: contain; }

.tableHeader.sortable.sortDesc:after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 1px;
  content: " ";
  background: url("../images/SortArrow_Down.png") no-repeat 0 0;
  background-size: contain; }

#table1ContentScroller {
  height: 247px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.05); }

#headerRowWrapper {
  padding-right: 8px; }

.rowContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.lapRow, .plotRow {
  width: 100%;
  height: 23px; }

.evenRow {
  background-color: rgba(255, 255, 255, 0.4); }

.lapRow.movedRow {
  background-color: #08c1fe; }

.cell {
  display: inline-block;
  text-align: center;
  float: left;
  border-right: 1px solid #dfdfdf;
  height: 100%; }

.cell.rightMost {
  border-right: none; }

.setHeader, .plotHeader, .setCell, .plotCell {
  width: 3.75%; }

.lapTimeHeader, .lapTimeCell {
  width: 10.81%; }

.trackGripHeader, .trackGripCell {
  width: 7.17%; }

.wingPosHeader, .wingPosCell, .fuelLoadHeader, .fuelLoadCell {
  width: 11.78%; }

.RHF_Header, .RHF_Cell, .RHR_Header, .RHR_Cell {
  width: 7.17%; }

.ARBF_Header, .ARBR_Header, .downloadHeader, .colorHeader, .ARBF_Cell, .ARBR_Cell, .downloadCell, .colorCell {
  width: 9.42%; }

.deleteHeader, .deleteCell {
  width: 8.35%; }

#table2 .removeHeader {
  width: 8.18%; }
#table2 .lapTimeHeader {
  width: 11.80%; }
#table2 .trackGripHeader {
  width: 7.82%; }
#table2 .wingPosHeader, #table2 .fuelLoadHeader {
  width: 12.85%; }
#table2 .RHF_Header, #table2 .RHR_Header {
  width: 7.82%; }
#table2 .ARBF_Header, #table2 .ARBR_Header, #table2 .downloadHeader {
  width: 10.28%; }
#table2 .colorHeader {
  width: 10.28%; }

.plotRow .removeCell {
  width: 8.18%; }
.plotRow .lapTimeCell {
  width: 11.80%; }
.plotRow .trackGripCell {
  width: 7.82%; }
.plotRow .wingPosCell, .plotRow .fuelLoadCell {
  width: 12.85%; }
.plotRow .RHF_Cell, .plotRow .RHR_Cell {
  width: 7.82%; }
.plotRow .ARBF_Cell, .plotRow .ARBR_Cell, .plotRow .downloadCell, .plotRow .colorCell {
  width: 10.28%; }
.plotRow .colorCell {
  width: 10.28%; }

@media (min-width: 992px) and (max-width: 1199px) {
  #table1 {
    margin-top: 15px; }

  #table2 {
    width: 100%; }

  .setHeader, .setCell, .downloadHeader, .downloadCell {
    display: none; }

  .plotHeader, .plotCell, .removeHeader, .removeCell {
    width: 4.32% !important; }

  .lapTimeHeader, .lapTimeCell {
    width: 12.45% !important; }

  .trackGripHeader, .trackGripCell {
    width: 8.26% !important; }

  .wingPosHeader, .wingPosCell, .fuelLoadHeader, .fuelLoadCell {
    width: 13.57% !important; }

  .RHF_Header, .RHF_Cell, .RHR_Header, .RHR_Cell {
    width: 8.76% !important; }

  .ARBF_Header, .ARBR_Header, .colorHeader, .ARBF_Cell, .ARBR_Cell, .colorCell {
    width: 10.85% !important; }

  .deleteHeader, .deleteCell, .colorHeader, .colorCell {
    width: 8.60% !important; } }
.fuelLoadHeader, .fuelLoadCell, .RHF_Header, .RHF_Cell {
  display: none; }

.plotCell, .setCell, .downloadCell, .deleteCell, .removeCell {
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat; }

.plotCell {
  background-image: url("../images/PlotIcon_Off.png"); }

.plotCell:hover {
  background-image: url("../images/PlotIcon_Hover.png"); }

.plotCell.loading, .plotCell.plotFull {
  background-image: none; }

.plotCell.plotted {
  background-image: url("../images/PlotIcon_On.png") !important; }

.setCell {
  background-image: url("../images/SetIcon_Off.png"); }

.setCell:hover {
  background-image: url("../images/SetIcon_Hover.png"); }

.setCell:active {
  background-image: url("../images/SetIcon_On.png"); }

.downloadCell {
  background-image: url("../images/DownloadIcon_Off.png"); }

.downloadCell:hover {
  background-image: url("../images/DownloadIcon_Hover.png"); }

.downloadCell:active {
  background-image: url("../images/DownloadIcon_On.png"); }

.downloadCell.loading {
  background-image: none; }

.deleteCell {
  background-image: url("../images/TrashIcon_Off.png"); }

.deleteCell:hover {
  background-image: url("../images/TrashIcon_Hover.png"); }

.deleteCell:active {
  background-image: url("../images/TrashIcon_On.png"); }

.deleteCell.loading {
  background-image: none; }

.colorSample {
  width: 35px;
  height: 10px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px; }

#row1 > .colorCell > .colorSample {
  background-color: #08c1fe; }

#row2 .colorCell .colorSample {
  background-color: #FF4826; }

#row3 .colorCell .colorSample {
  background-color: #FFB400; }

#row4 .colorCell .colorSample {
  background-color: #00FE56; }

#row5 .colorCell .colorSample {
  background-color: #FF8300; }

.progressBG {
  width: 55px;
  background-color: #FFF;
  height: 6px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px; }

.progressVal {
  height: 100%;
  float: left;
  background-color: #08c1fe;
  box-shadow: 0 0 5px #08c1fe;
  width: 0%; }

.removeCell:hover {
  background-image: url("../images/PlotIcon_Off.png"); }

.removeCell {
  background-image: url("../images/PlotIcon_On.png"); }

/*# sourceMappingURL=tables.css.map */
