
{% extends "base2.html" %}

{% block singleForm %}

    {% if validlink %}
        <form id="resetConfirmForm" class="form-horizontal" action="" method="post">
            
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="loginHeader">Please choose a new password.</p>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="formError">{{ form.new_password1.errors }}</p>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon pwdLabel glyphicon glyphicon-lock"></span>
                        <input type="password" name="new_password1" id="new_password1" class="loginFormField form-control"/placeholder="New Password">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="formError">{{ form.new_password2.errors }}</p>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon pwdLabel glyphicon glyphicon-lock"></span>
                        <input type="password" name="new_password2" id="new_password2" class="loginFormField form-control"/placeholder="Confirm Password">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <input type="submit" class="btn btn-default loginButton" value="Change my password" />
                </div>
            </div>




            <!-- <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table> -->











        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}


