
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">          
    <div class="hidden-xs hidden-sm hidden-md col-lg-1 scroll-pane" id="divTrackContainer">

      {% for event in user.profile.league.event_set.all %}
        <div class="eventSelector" id="event{{ forloop.counter }}" style="background-image: url({{event.trackImage_Off.url}});">Round {{ forloop.counter }}
          <div class="divtrackName hidden-sm ">{{event.eventName}}</div>
        </div>
      {% endfor %}

    </div>
    <nav class="navbar  col-sm-12 col-md-12 hidden-lg" id="navTrackNavBar">            
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="col-xs-2" id="trackMenuButtonCont">
          <button type="button" id="trackMenuButton" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#eventNavBarCollapse" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div> 

        <div class="col-xs-7"id="navBarEventHeadline">Round 1 - Catalunya</div>
      <div class="col-xs-3" id="navBarDivLogoContainer"><div id="logo2"></div></div>               
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="eventNavBarCollapse">
        <ul id="ulEventsList" class="nav navbar-nav">
        </ul>                    
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="hidden-xs hidden-sm hidden-md col-lg-11" id="divEventBanner">
      <div class="col-sm-4 col-xs-0" id="divLogoContainer"><div id="logo"></div></div>
      
      <div class="col-sm-6 col-xs-8 eventHeadline"id="eventHeadline">Round 1 - Catalunya</div>   

      <div class="col-sm-2 col-xs-4" id="divLogoutContainer"><a href="{% url 'logout'%}" ><span class="glyphicon glyphicon-off eventHeadline logoutSymbol"></span><span class="logoutLink">Logout</span></a></div>
    </div>
  

    <div id="divWorkspaceContainer" class="container-fluid">
      <div class="row" id="divControlTableRow">  
        <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4" id="divSimControlContainer">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12 simControlSubContainer left container-fluid">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 componentCaption ">Track Grip:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain left"> 
                <select id="selectTrackGrip" class="setupSelector ">
                  <option>95%</option>
                  <option selected="selected">100%</option>
                  <option>105%</option>
                </select>
              </div>
              <div class="hidden-xs hidden-sm hidden-md col-lg-4"></div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 componentCaption ">Wing Position:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain left"> 
                <select id="selectWingPos" class="setupSelector">
                  <option>1</option>
                  <option selected="selected">2</option>
                  <option>3</option>
                </select>
              </div>
              <div class="hidden-xs hidden-sm hidden-md col-lg-4"></div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 componentCaption ">Fuel Load:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain left"> 
                <select id="selectFuelLoad" class="setupSelector">
                  <option>15kg</option>
                  <option selected="selected">40kg</option>
                </select>
              </div>
              <div class="hidden-xs hidden-sm hidden-md col-lg-4"></div>
            </div>

            <div class="row hidden-xs hidden-sm hidden-md ">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 columnCaption left">Front:</div>
              <div class="col-lg-4 columnCaption right">Rear:</div>
            </div>

            <div class="row">
              <div class="hidden-xs hidden-sm hidden-md col-lg-4 componentCaption ">Ride Height:</div>
              <div class="col-xs-6 col-sm-6 col-md hidden-lg componentCaption ">Ride Height Front:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain left"> 
                <select id="selectRH_Front" class="setupSelector">
                  <option>20mm</option>
                  <option selected="selected">25mm</option>
                  <option>30mm</option>
                </select>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 hidden-lg componentCaption ">Ride Height Rear:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain right"> 
                <select id="selectRH_Rear" class="setupSelector">
                  <option>50mm</option>
                  <option selected="selected">55mm</option>
                  <option>60mm</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12 simControlSubContainer middle">
            <!-- <div class="row">
              <div class="hidden-xs hidden-sm hidden-md col-lg-4 componentCaption ">Spring Stiffness:</div>
              <div class="col-xs-6 col-sm-6 col-md hidden-lg componentCaption ">Spring Stiffness Front:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain left"> 
                <select id="selectSpringStiff_Front" class="setupSelector">
                  <option>150N/mm</option>
                  <option selected="selected">200N/mm</option>
                  <option>250N/mm</option>
                </select>
              </div>
              <div class="col-xs-6 col-sm-6 col-md hidden-lg componentCaption ">Spring Stiffness Rear:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain right"> 
                <select id="selectSpringStiff_Rear" class="setupSelector">
                  <option>150N/mm</option>
                  <option selected="selected">200N/mm</option>
                  <option>250N/mm</option>
                </select>
              </div>
            </div> -->

            <div class="row">
              <div class="hidden-xs hidden-sm hidden-md col-lg-4 componentCaption ">ARB Stiffness:</div>
              <div class="col-xs-6 col-sm-6 col-md hidden-lg componentCaption ">ARB Stiffness Front:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain left"> 
                <select id="selectARBStiff_Front" class="setupSelector">
                  <option>150N/mm</option>
                  <option selected="selected">200N/mm</option>
                  <option>250N/mm</option>
                </select>
              </div>
              <div class="col-xs-6 col-sm-6 col-md hidden-lg componentCaption ">ARB Stiffness Rear:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain right"> 
                <select id="selectARBStiff_Rear" class="setupSelector">
                  <option>150N/mm</option>
                  <option selected="selected">200N/mm</option>
                  <option>250N/mm</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="hidden-xs hidden-sm hidden-md col-lg-4 componentCaption ">Tyre Pressure:</div>
              <div class="col-xs-6 col-sm-6 col-md hidden-lg componentCaption ">Tyre Pressure Front:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain left"> 
                <select id="selectTyrePress_Front" class="setupSelector">
                  <option>1bar</option>
                  <option selected="selected">2bar</option>
                  <option>3bar</option>
                </select>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 hidden-lg componentCaption ">yre Pressure Rear:</div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 selectContain right"> 
                <select id="selectTyrePress_Rear" class="setupSelector">
                  <option>1bar</option>
                  <option selected="selected">2bar</option>
                  <option>3bar</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12 simControlSubContainer right">
            <div class="row"><div class="hidden-xs hidden-sm col-md-12 hidden-lg bufferRow"></div></div>
            <div class="row"><div class="hidden-xs hidden-sm col-md-12 hidden-lg bufferRow"></div></div>
            <div class="row"><div class="hidden-xs hidden-sm col-md-12 hidden-lg bufferRow"></div></div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-8 componentCaption "></div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 buttonContain">
                <button id="simButton">Simulate Lap</button>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-xs-12 col-sm-8 col-md-12 col-lg-8" id="divTable1Container">
            <div id="table1">
              <div class="headerRow"> 
                <div id='headerRowWrapper'>   
                  <span class="tableHeader setHeader">Set</span>
                  <span class="tableHeader plotHeader">Plot</span>
                  <span class="tableHeader lapTimeHeader sortable sortAsc">Lap-time</span>
                  <span class="tableHeader trackGripHeader sortable">Grip</span>
                  <span class="tableHeader wingPosHeader sortable">Wing Pos.</span>
                  <span class="tableHeader fuelLoadHeader sortable">Fuel</span>
                  <span class="tableHeader RHF_Header sortable">RH F</span>
                  <span class="tableHeader RHR_Header sortable">RH R</span>
                  <!-- <span class="tableHeader SSF_Header sortable">SS F</span>
                  <span class="tableHeader SSR_Header sortable">SS R</span>  -->
                  <span class="tableHeader ARBF_Header sortable">ARB F</span>  
                  <span class="tableHeader ARBR_Header sortable">ARB R</span>
                  <span class="tableHeader tyrePresF_Header sortable">Press F</span>  
                  <span class="tableHeader tyrePresR_Header sortable">Press R</span>
                  <span class="tableHeader downloadHeader">Downl.</span>
                  <span class="tableHeader deleteHeader">Delete</span>
                </div>
              </div>
            <div id="table1ContentScroller">
              <div id="table1Content"> 
                <div class="rowContainer" id="rowContainer1">
                  
                </div>
              </div> <!--table1Content-->       
            </div> <!--table1ContentScroller-->
          </div> <!--table1-->
        </div> <!--divTable1Container-->
      </div>
        <div id="divPlotArea" >
          <div class="row">
            <div class="col-sm-12 divPlotContainer initialPlotCont" draggable="true">
              <div class="plot" id="plot1">                    
                <div class="channelSelectContainer" id="channelSelectContainer1">
                  <!-- <select id="selectChannel_1" class="channelSelector">
                  </select> -->
                </div>
                <a href="#" draggable="false"><span class="removePlot" draggable="false"></span></a>

                <div class="canvasContainer">
                  <canvas class="plotCanvas" id="canvas1"></canvas>
                  <canvas class="cursorCanvas" id="cursorCanvas1"></canvas>
                </div>
              </div>
            </div>
            <a href="#"><span class="addPlot"></span></a>
          </div>
        </div>

        <div class="row" id="divTableAndSpacer">
          <div class="hidden-xs col-sm-4 hidden-md col-lg-4" id="divSpacer"></div> 
          <div class="col-xs-12 col-sm-8 col-md-12 col-lg-8" id="divTable2Container">
            <div id="table2">
              <div class="headerRow">    
                <span class="tableHeader removeHeader table2">Remove</span>
                <span class="tableHeader lapTimeHeader table2">Lap-time</span>
                <span class="tableHeader trackGripHeader table2">Grip</span>
                <span class="tableHeader wingPosHeader table2">Wing Pos.</span>
                <span class="tableHeader fuelLoadHeader table2">Fuel</span>
                <span class="tableHeader RHF_Header table2">RH F</span>
                <span class="tableHeader RHR_Header table2">RH R</span>
                <!-- <span class="tableHeader SSF_Header table2">SS F</span>
                <span class="tableHeader SSR_Header table2">SS R</span>  -->
                <span class="tableHeader ARBF_Header table2">ARB F</span>  
                <span class="tableHeader ARBR_Header table2">ARB R</span>
                <span class="tableHeader tyrePresF_Header table2">Press F</span>  
                <span class="tableHeader tyrePresR_Header table2">Press R</span>
                <span class="tableHeader colorHeader table2">Color</span>  
              </div>
              <div class="rowContainer" id="rowContainer2">
              </div>
          </div>  
        </div>
      </div>
      
    </div>
  </div>

<div id="eventNotAvail" title="Event not available">
</div>
<div id="alreadySimulated" title="Lap already exists">
</div>

<script>
eventList = [];
firstLapSim = [];
jobFileUrls = [];

{% for event in user.profile.league.event_set.all %}
  eventList.push('{{event.eventName}}')
  firstLapSim.push(true)
  jobFileUrls.push('{{event.jobOverviewFile.url}}')

  track{{forloop.counter}}_Image_On = '{{event.trackImage_On.url}}';
  track{{forloop.counter}}_Image_Off = '{{event.trackImage_Off.url}}';
{% endfor %}
numLeageEvents = {{user.profile.league.event_set.all.count}};

</script>

{% load static %}
<script src="{% static 'SimSaaS/js/initVars.js' %}"></script>
<script src="{% static 'SimSaaS/js/layoutFunctions.js' %}"></script>
<script src="{% static 'SimSaaS/js/dragAndDrop.js' %}"></script>
<script src="{% static 'SimSaaS/js/index.js' %}"></script>
<script src="{% static 'SimSaaS/vendors/jScrollPane/jScrollPane.js' %}"></script>
<script src="{% static 'SimSaaS/vendors/jScrollPane/jQueryMouseWheel.js' %}"></script>
<script src="{% static 'SimSaaS/vendors/jScrollPane/wheelIntent.js' %}"></script>
<script src="{% static 'SimSaaS/js/loadLapData.js' %}"></script>
<script src="{% static 'SimSaaS/js/plot.js' %}"></script>
<!-- <script src="resources/js/channelNaming_VSM.js"></script>-->
<script src="{% static 'SimSaaS/js/events.js' %}"></script>
<!--<script src="{% static 'SimSaaS/vendors/FileSaver/FileSaver.min.js' %}"></script>-->
<script src="{% static 'SimSaaS/vendors/FileSaver/FileSaver.min.js' %}"></script>


{% endblock %}
