::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: none; }

::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none; }

.scrolling::-webkit-scrollbar-thumb {
  background-color: #1A1A1A;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #525252; }

html {
  overflow: hidden;
  height: 100%;
  background-color: #343434; }

body {
  height: 100%;
  overflow: auto;
  background-color: #343434;
  color: #dfdfdf; }

#divTrackContainer {
  height: 900px;
  overflow-y: scroll;
  border-right: 1px solid rgba(223, 223, 223, 0.5);
  padding-right: 0px;
  padding-left: 5px; }

#event1 {
  background-image: url(../images/Events/Oschersleben_Off.png); }

#event1.activeEvent {
  background-image: url(../images/Events/Oschersleben_On.png); }

#event2 {
  background-image: url(../images/Events/Hockenheim_Off.png); }

#event2.activeEvent {
  background-image: url(../images/Events/Hockenheim_On.png); }

#event3 {
  background-image: url(../images/Events/Spielberg_Off.png); }

#event3.activeEvent {
  background-image: url(../images/Events/Spielberg_On.png); }

#event4 {
  background-image: url(../images/Events/Lausitzring_Off.png); }

#event4.activeEvent {
  background-image: url(../images/Events/Lausitzring_On.png); }

#event5 {
  background-image: url(../images/Events/Norisring_Off.png); }

#event5.activeEvent {
  background-image: url(../images/Events/Norisring_On.png); }

#event6 {
  background-image: url(../images/Events/Zandvoort_Off.png); }

#event6.activeEvent {
  background-image: url(../images/Events/Zandvoort_On.png); }

#event7 {
  background-image: url(../images/Events/Nuerburgring_Off.png); }

#event7.activeEvent {
  background-image: url(../images/Events/Nuerburgring_On.png); }

#event8 {
  background-image: url(../images/Events/Hockenheim_Off.png); }

#event8.activeEvent {
  background-image: url(../images/Events/Hockenheim_On.png); }

#event9 {
  background-image: url(../images/Events/_Off.png); }

#event9.activeEvent {
  background-image: url(../images/Events/_On.png); }

.eventSelector {
  height: 120px;
  color: #dfdfdf;
  text-align: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(223, 223, 223, 0.5);
  cursor: pointer; }

.eventSelector.activeEvent {
  color: #08c1fe;
  text-shadow: 0 0 3px #08c1fe; }

#divTable1Container {
  overflow-x: scroll;
  margin-top: 20px; }

@media (min-width: 768px) {
  .eventSelector {
    font-size: 1.0em;
    font-stretch: semi-condensed;
    height: 80px;
    background-position: center bottom; }
  #divTable1Container {
    margin-top: 0px; } }

@media (min-width: 992px) {
  .eventSelector {
    font-size: 1.0em;
    font-stretch: semi-condensed;
    height: 120px;
    background-position: center center; } }

@media (min-width: 1200px) {
  .eventSelector {
    font-size: 1.15em;
    font-stretch: semi-condensed;
    height: 120px;
    background-position: center center; } }

.divtrackName {
  padding-top: 68px; }

#eventNavBarCollapse, ul.nav.navbar-nav > li {
  z-Index: 1000 !important; }

#divEventBanner {
  height: 70px;
  z-Index: 100;
  font-size: 1.5em;
  padding-top: 10px; }

.eventHeadline, #navBarEventHeadline {
  margin-top: 8px;
  padding-left: 0px;
  color: #08c1fe; }

#divLogoContainer {
  padding-left: 0px; }

#logo {
  height: 50px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/AVLRacing_Logo.png); }

#divLogoutContainer {
  text-align: right; }

.logoutLink {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #08c1fe;
  cursor: pointer;
  font-size: 0.8em; }

.logoutSymbol {
  cursor: pointer;
  font-size: 0.8em;
  margin-right: 5px; }

/*#divSimControlContainer {
  height: 300px; }
  */
.simControlSubContainer.left {
  padding-left: 0px; }

.simControlSubContainer.right {
  padding-right: 0px; }

@media (min-width: 1200px) {
  .simControlSubContainer.left, .simControlSubContainer.middle, .simControlSubContainer.right {
    padding-left: 0px;
    padding-right: 0px; } }

#simButton {
  min-height: 32px; }

#divTableAndSpacer {
  padding-top: 20px;
  z-index: 100;
  position: absolute; }

.noSeeThrough {
  background-color: #343434; }

#divTable2Container, #divSpacer {
  height: 148px; }

#divTable2Container {
  overflow-x: scroll;
  margin-bottom: 12px; }

.divPlotContainer {
  height: 300px;
  display: none;
  margin-bottom: 20px;
  cursor: move; }

@media (max-width: 1200px) {
  .divPlotContainer {
    height: 250px; } }

.plot {
  background-color: rgba(52, 52, 52, 0.65);
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.divPlotContainer.over {
  /*border-top: 2px dashed #000;*/ }

.initialPlotCont {
  display: block; }

.channelSelectContainer {
  padding-top: 5px;
  margin-left: 55px;
  width: 150px;
  display: inline-block;
  position: relative;
  z-index: 3;
  float: left; }

.channelSelector {
  width: 100%; }

.canvasContainer {
  float: left;
  width: 100%;
  height: 100%;
  margin-top: -42px;
  background-color: rgba(223, 223, 223, 0.4); }

.plotCanvas, .cursorCanvas {
  float: left;
  position: relative; }

.plotCanvas {
  z-index: 1; }

.cursorCanvas {
  z-index: 2; }

.dropZone {
  height: 50px;
  margin-bottom: -70px;
  margin-top: 20px;
  background-color: #999;
  border: 2px dashed #555;
  color: #555;
  text-align: center; }

.navbar-toggle {
  float: left; }

#navTrackNavBar {
  margin-bottom: 0px;
  z-index: 10000;
  background-color: #343434; }

#divWorkspaceContainer {
  background-image: url(../images/BG_Porsche_tansparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  padding-right: 7px; }

#divPlotArea {
  width: 100%;
  float: left; }

.addPlot, .removePlot {
  float: right;
  margin-bottom: 10px;
  margin-right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 3;
  position: relative; }

.addPlot {
  margin-right: 20px;
  background-image: url(../images/AddPlot_off.png); }

.addPlot:hover {
  background-image: url(../images/AddPlot_hover.png); }

.removePlot {
  margin-top: 10px;
  margin-right: 5px;
  background-image: url(../images/RemovePlot_off.png); }

.removePlot:hover {
  background-image: url(../images/RemovePlot_hover.png); }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

#dummyBar {
  position: absolute;
  top: 400px;
  z-index: 10;
  background-color: #FF0F00;
  width: 100%;
  height: 200px;
  padding: 0px; }

.ui-widget-content {
  max-height: 255px; }

/*# sourceMappingURL=main.css.map */
.ui-selectmenu-button.autoChange {
  background-color: #08c1fe;
  border-color: #08c1fe;
  box-shadow: 0 0 3px #08c1fe; }

#trackMenuButton {
  background-color: transparent;
  width: 52px; }

.icon-bar {
  background-color: #dfdfdf; }

.navbar-nav > li > a {
  color: #dfdfdf; }

.navbar-collapse.collapse.in {
  border-top: 1px solid rgba(223, 223, 223, 0.4);
  border-bottom: 1px solid rgba(223, 223, 223, 0.4); }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: #343434; }

#ulEventsList {
  width: 100%; }

#navBarDivLogoContainer {
  padding-right: 0px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/AVLRacing_Logo.png);
  height: 30px;
  margin-top: 8px; }

#navBarEventHeadline {
  height: 30px;
  margin-top: 8px;
  font-size: 1.5em;
  text-align: center; }

#trackMenuButtonCont {
  padding-left: 0px; }

.liEventSelector, .liEventSelector > a {
  cursor: pointer; }

.userLabel, .pwdLabel {
  border: none;
  background-color: #FFF;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  top: 0px;
  color: #08c1fe; }

.loginFormField {
  border: 3px solid #FFF;
  background-color: #08c1fe;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  color: #FFF;
  font-size: 1.2em !important; }

.loginFormField:focus {
  border-color: #FFF;
  -webkit-box-shadow: none;
  box-shadow: none; }

.loginFormField::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF; }

.loginFormField::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc; }

.loginFormField:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc; }

.loginFormField:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc; }

.loginButton {
  background-color: #FFF;
  color: #08c1fe;
  border: 3px solid #FFF;
  font-weight: bold;
  width: 100%;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

.loginButton:hover, .loginButton:active, .loginButton:focus {
  background-color: #FFF;
  color: #08c1fe;
  border: 3px solid #eee; }

#loginForm {
  background-color: #08c1fe;
  margin-top: 250px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;
  z-index: 2; }

.loginHeader {
  color: #FFF;
  font-size: 1.2em; }

.formError {
  color: #CC0035; }

a.forgotPWDLink {
  color: #FFF; }

.backgroundDiv {
  opacity: 0.8;
  background-color: #343434;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-image: url(../images/AVLRacingSwirl.jpg);
  background-size: cover; }

html, body {
  height: 100%; }

/*# sourceMappingURL=../../../../../../../../../../../static/SimSaaS/css/main.css.map */